*.pyc
*.log
*.buildings
*.pets
otpd/config/account-bridge.json
otpd/databases/accounts.json
otpd/databases/bak/*
otpd/databases/otpdb/*.yaml
PYTHON_PATH

.idea/*
venv/*
backups/*
data/tracebacks/server/*.txt
data/tracebacks/ai/*.txt
trickOrTreat-anydbm
.DS_Store
config/local.prc
*.trackRecords

# Web development
config/web/toontastic-sunrise-games-chain.pem