*.pyc
*.yaml
*.log
*.buildings
*.pets
otpd/config/account-bridge.json
otpd/databases/accounts.json
otpd/databases/bak/*

.idea/*
venv/*
backups/*
data/ai-traceback.txt
data/ud-traceback.txt
trickOrTreat-anydbm
.DS_Store
config/local.prc
